::root {
    --color-admonition-title-background--important: #{'rgba(var(--color-admonition-title--important), 0.2)'} !important;
    --color-admonition-title-background--caution: #{'rgba(var(--color-admonition-title--caution), 0.2)'} !important;
    --color-admonition-title-background--warning: #{'rgba(var(--color-admonition-title--warning), 0.2)'} !important;
    --color-admonition-title-background--info: #{'rgba(var(--color-admonition-title--info), 0.2)'} !important;
    --color-admonition-title-background--seealso: #{'rgba(var(--color-admonition-title--seealso), 0.2)'} !important;
    --color-admonition-title-background--attention: #{'rgba(var(--color-admonition-title--attention), 0.2)'} !important;
    --color-admonition-title-background--danger: #{'rgba(var(--color-admonition-title--danger), 0.2)'} !important;
    --color-admonition-title-background--error: #{'rgba(var(--color-admonition-title--error), 0.2)'} !important;

    // --color-inline-code-background: #{'rgba(var(--color-background-secondary), 0.25)'} !important;
}

.page-info {
    &>.context {
        color: var(--color-foreground-muted)
    }

    &>.title {
        color: var(--color-foreground-primary)
    }
}


@media (min-width: 67.1em) {
    .sidebar-drawer {
        background: var(--color-sidebar-background);
        height: min-content;
        will-change: transform; // this is hell
        position: sticky;
        top: 0;
        left: 0;
    }
}

@mixin colors-dark-override {
    .CodeMirror-code {
        // background: #E6E0D1 !important;
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }

    .CodeMirror-cursor {
        border-left: 1px solid #F4F4F4 !important;
        background: #F4F4F4 !important;
    }

    h1,
    .gradient-text,
    .sidebar-brand-text {
        & span.sd-badge {
            background: unset;
            background-clip: unset;
            -webkit-background-clip: unset;
        }

        background: linear-gradient(90deg, #54DDF8 0%, #0083CF 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .sd-card {
        box-shadow: 0px 2px 0px #54DDF8 !important;

        &:hover {
            background: #121621 !important
        }
    }

    .jp-RenderedText,
    .jp-RenderedJavaScript,
    .jp-RenderedHTMLCommon {
        // color: #F4F4F4 !important;
        filter: invert(100%);
    }
}

@mixin colors-light-override {
    .sd-card {
        box-shadow: 2px 5px 15px -5px rgba(0, 0, 0, 0.15);

        &:hover {
            background: var(--color-background-primary) !important
        }
    }

    // .admonition,
    // .main .caption-text {
    //   color: #F4F4F4;

    //   & a {
    //     color: #0083cf;
    //     text-decoration-color: #303335;

    //     &:hover {
    //       text-decoration-color: #666666
    //     }
    //   }

    //   & .literal {
    //     background: transparent;
    //     border-color: transparent;
    //   }

    //   & th.head {
    //     background: #131720;
    //   }

    //   & table.docutils {

    //     & th,
    //     & td {
    //       border-color: #303335;
    //     }
    //   }
    // }
}

// Enable dark-mode-overrides, if requested.
[data-theme="dark"] {
    @include colors-dark-override;

    .dark-only {
        display: inline-block !important
    }

    .light-only {
        display: none !important
    }
}

// Enable light-mode-overrides, if requested.
[data-theme="light"] {
    @include colors-light-override;

    .light-only {
        display: inline-block !important
    }

    .dark-only {
        display: none !important
    }
}

// If "auto", uses media preference
[data-theme="auto"] {
    @media (prefers-color-scheme: dark) {
        @include colors-dark-override;

        .dark-only {
            display: inline-block !important
        }

        .light-only {
            display: none !important
        }
    }

    @media (prefers-color-scheme: light) {
        @include colors-light-override;

        .light-only {
            display: inline-block !important
        }

        .dark-only {
            display: none !important
        }
    }
}