.dropdown-body-text {
  line-height: 1.5em;
}

table.docutils {
  width: 100%;
  letter-spacing: 0.7px;

  th {
    font-size: 12px;

    @mixin colors-dark-override {
      color: #A9B4D0
    }
  }

  td {
    font-size: 14px
  }

  th,
  td {
    border-left: none;
    border-right: none;
  }
}

.tippy-box {
  background-color: var(--sd-color-card-background);
  color: var(--sd-color-card-text);
  border: 1px solid var(--sd-color-card-border);
}

.literal-block.wrapper {
  border-radius: 8px;
}

.thebe-launch-button>.loading-text>.status {
  color: #5CC653 !important
}

.CodeMirror-selected {
  opacity: 0.35;
}

.thebelab-cell {
  border: none;
}

.thebelab-button {
  font-family: "sofia-pro", sans-serif;
  background: transparent;
  color: #F4F4F4;
  margin-right: 0.5em;
  padding-bottom: 0.5em;
  border-width: 1px;
  border-color: #54DDF8 !important;
  cursor: pointer;

  &:hover {
    background: #54DDF8;
    color: #040019;
    border-width: 1px;
    border-color: #54DDF8 !important;

    &>.loading-text>.status {
      color: #040019 !important
    }
  }

  &:active {
    background: #54DDF8;
    color: #040019;
    border-width: 1px;
    border-color: #54DDF8 !important;
    opacity: 0.8;

    &>.loading-text>.status {
      color: #040019 !important
    }
  }
}

.admonition {
  border-radius: 8px;
}

.jp-RenderedText,
.jp-RenderedJavaScript,
.jp-RenderedHTMLCommon {
  // color: #F4F4F4 !important;
  filter: invert(100%);
  padding-bottom: 0.5em !important;
}

@mixin colors-dark-override {
  .highlight {
    background: #191F2E !important;
    box-shadow: inset 0px -3px 5px -3px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
  }

  .admonition-title {
    color: #A9B4D0
  }

  .CodeMirror-code {
    // background: #E6E0D1 !important;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  .CodeMirror-cursor {
    border-left: 1px solid #F4F4F4 !important;
    background: #F4F4F4 !important;
  }

  .dropdown-body-text {
    em {
      background: linear-gradient(90deg, #54DDF8 0%, #0083CF 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @media (min-width: 67.1em) {
    .sidebar-drawer {
      background: linear-gradient(180deg, #000E19 36.39%, #0C263B 100%);
      height: min-content;
      will-change: transform; // this is hell
      position: sticky;
      top: 0;
      left: 0;

    }
  }

  h1,
  .gradient-text,
  .sidebar-brand-text {
    & span.sd-badge {
      background: unset;
      background-clip: unset;
      -webkit-background-clip: unset;

      &.sd-text-success {
        -webkit-text-fill-color: var(--sd-color-success)
      }

      &.sd-text-warning {
        -webkit-text-fill-color: var(--sd-color-warning)
      }
    }

    background: linear-gradient(90deg, #54DDF8 0%, #0083CF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .sd-card {
    box-shadow: 0px 2px 0px #54DDF8 !important;

    &:hover {
      background: #121621 !important
    }
  }

  .page-info {
    &>.context {
      color: var(--color-foreground-muted)
    }

    &>.title {
      color: var(--color-foreground-primary)
    }
  }
}

@mixin colors-light-override {
  // .sd-card {
  //   box-shadow: -4px -4px 18px -2px #E9E9DE, 4px 5px 15px rgba(0, 0, 0, 0.15) !important;

  //   &:hover {
  //     background: #e6e6e6 !important
  //   }
  // }

  // .admonition,
  // .main .caption-text {
  //   color: #F4F4F4;

  //   & a {
  //     color: #0083cf;
  //     text-decoration-color: #303335;

  //     &:hover {
  //       text-decoration-color: #666666
  //     }
  //   }

  //   & .literal {
  //     background: transparent;
  //     border-color: transparent;
  //   }

  //   & th.head {
  //     background: #131720;
  //   }

  //   & table.docutils {

  //     & th,
  //     & td {
  //       border-color: #303335;
  //     }
  //   }
  // }
}

// Enable dark-mode-overrides, if requested.
[data-theme="dark"] {
  @include colors-dark-override
}

// Enable light-mode-overrides, if requested.
[data-theme="light"] {
  @include colors-light-override
}

// If "auto", uses media preference
[data-theme="auto"] {
  @media (prefers-color-scheme: dark) {
    @include colors-dark-override
  }

  @media (prefers-color-scheme: light) {
    @include colors-light-override
  }
}