/* Sidebar stuff */
.sidebar-drawer {
    width: 15em !important;
    background-attachment: fixed;
    box-shadow: 5px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

.sidebar-tree .toctree-l1>.current {
    color: var(--color-brand-primary);
}

/* prevents the g from clipping
-- keeps it consistent in light mode */
h1,
.gradient-text,
.sidebar-brand-text {
    padding-bottom: 1%;
}

/* Card CSS */
.sd-card {
    border: 0px solid transparent !important;
    border-radius: 10px !important;
    transition: background-color 300ms;
}

/* Copy Buttons for code blocks */
.highlight button.copybtn {
    background: transparent;
}

/* Logo Sizing */
.sidebar-logo-container {
    width: 65%;
    padding-top: 0.4em;
}